<div class="container">
  <div class="contentContainer">
    <ion-list>
      <ion-item [button]="true" (click)="showChangeProfilePicture()">
      <ion-icon slot="end" size="large" name="camera-reverse-outline"></ion-icon>
      <ion-label><span>Changer photo de profil</span></ion-label>
    </ion-item>
      <ion-item [button]="true">
        <ion-icon slot="end" size="large" name="camera-reverse"></ion-icon>
        <ion-label><span>Changer couverture</span></ion-label>
      </ion-item>
    </ion-list>
  </div>
</div>