@font-face {
    font-family: 'animeAce';
    src: url('/assets/FONTS/anime_ace_bb/animeace2bb_tt/animeace2_reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'badaboum';
    src: url('/assets/FONTS/badaboom_bb/BADABB__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.postContainer{
    background-color: #9BCAF2;
    
}
.content{
    font-family: 'animeAce';
    color:black;
    //border: black solid 1px;
    border-radius: 10px;
    background-color: #9BCAF2;
    margin-bottom: 5%;
    font-size: 30px;
    a {
        color: blue;
        text-decoration: underline;
      }
    
}
.postImg{
    margin-bottom: 1%;
}
.note{
    color:black;
    font-family: 'animeAce';
    margin-bottom: 5%;

}
.title{
    font-family: 'badaboum';
    
}

.imgContainer{
     width:100%;
     margin: auto;
}
.cardContent{
    width:100%;
    border:black solid 1px;
    border-radius: 10px;
    margin-bottom: 3%;
}
@media (max-width: 599px) {
    /* Styles pour les petits écrans */
    // .postImg{
    //     object-fit: cover;
    // }
    .imgContainer{
         //width:20%;
         //border:green 2px solid;
         width: 80%; /* ou une largeur fixe, par exemple 300px */
        height: auto; /* pour maintenir le ratio d'aspect */
        max-height: auto; /* ou une hauteur fixe, par exemple 300px */
        object-fit: cover;
    }
    .postContainer{
        width:400px;
    }
    .title{
        font-size: 20px;
        color:#0388A6;
    }
    .content{
        font-size: 15px;
    }
    
  }

  @media (min-width: 1000px) and (max-width:1425px)  {
    .postContainer{
         margin:auto;
         display:flex;
         flex-direction: column;
         align-items: center;
     }
     .contentContainer{
         width:100%;
         margin:auto;
     }
     .title{
         font-size: 40px;
         color:#0388A6;
     }
     .content{
         font-size: 30px;
     }
     .postImg{
         width: 100%; 
         height: auto; 
         max-height: auto; 
         object-fit: cover;
     }
     .imgContainer{
         width:100%;
         margin: auto;
    }
    .cardContent{
        width:100%
    }
  }
@media (min-width: 1425px) and (max-width: 2000px) {
    .postContainer{
        
       //background-color: red;
       width:900px;
        margin:auto;
        display:flex;
        flex-direction: column;
        align-items: center;
        //border:red 2px solid;
       
    }
    .contentContainer{
        width:100%;
        //height:300px;
        margin:auto;
        //border:blue solid 2px;
        
        
    }
    .title{
        font-size: 40px;
        color:#0388A6;
    }
    .content{
        font-size: 26px;
    }
    // .cardContent{
    //     width:600px;
    //     border:black solid 1px;
    // }
    .postImg{
    // width:100%;
    // height:100px;
        width: 100%; /* ou une largeur fixe, par exemple 300px */
        height: auto; /* pour maintenir le ratio d'aspect */
        max-height: auto; /* ou une hauteur fixe, par exemple 300px */
        object-fit: cover; /* pour garantir que l'image couvre toute la zone */
    }
    .imgContainer{
        width:100%;
        margin: auto;
   }
   .cardContent{
       width:100%
   }
}

@media (orientation: landscape) {
    .imgContainer{
        //width:20%;
        //border:green 2px solid;
        width: 50%; /* ou une largeur fixe, par exemple 300px */
       height: 50%; /* pour maintenir le ratio d'aspect */
       max-height: auto; /* ou une hauteur fixe, par exemple 300px */
       object-fit: cover;
   }
//    .postContainer{
//        width:550px;
//    }
}