<ion-card class="postContainer">
  <div class="contentContainer">
    <div class="imgContainer" *ngIf="postContent.media">
      <ion-img class="postImg" [src]="postContent.media"></ion-img>
    </div>
    <div class="cardContent">
      <ion-card-header>
        <ion-card-title class="title">{{ postContent.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="content" [ngClass]="{'expanded': isExpanded}">
        <ng-container *ngIf="isExpanded; else truncatedContent">
          {{ postContent.content }}
          <a (click)="toggleExpand()" style="cursor: pointer;">Réduire</a>
        </ng-container>
        <ng-template #truncatedContent>
          {{ truncateText(postContent.content, 150) }}
          <a *ngIf="isTextTooLong(postContent.content, 150)" (click)="toggleExpand()" style="cursor: pointer;">Lire la suite</a>
        </ng-template>
      </ion-card-content>
    </div>
    
</div>
  <ion-note class="note"
        >Publié le {{ postContent.postedAt | date : "dd/MM/yyyy" }} à
        {{ postContent.postedAt | date : "shortTime" }}
      </ion-note>
</ion-card>

