
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flexForm ">
    <ion-label>nom d'utilisateur : </ion-label>
    <ion-item>
      
      <ion-input
        formControlName="login"
        placeholder="votre login ........stp"
      ></ion-input>
    </ion-item>
    <ion-label>mot de passe : </ion-label>
    <ion-item>
      <ion-input
        type="password"
        placeholder="Votre mot de passe..."
        formControlName="password"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-button class="buttonColor" id="login" type="submit" [disabled]="form.invalid"
      >allons-y</ion-button
    >
  </form>

