img{
    object-fit: cover;
    width:100%;
    height: 100%;
}
ion-img{
    width:20%;
}
#container{
    border: black 2px solid;
    background-color: brown;
    width:100%;
    height:100px;
}
ion-thumbnail {
    --size:1000px ;
    --border-radius: 14px;
  }

#cadrePhoto{
    border-radius: 100%;
    border:black 1px solid;
}