<ion-content class="blueBackgr">
  <div class="divLogo">
    <img class="logo"  alt="logo" src="/assets/img/logo.png" />
 </div>
 <div class="divLogo bigFont secondaryColor">
     <h1 class="title">Bienvenue sur Kaio-Comics ! </h1>
  </div>
  <app-signin></app-signin>
  <div class="divLogo regularFont">
    <p>Première connection?</p>
  </div>
  <div class="divLogo">
    <ion-nav-link class="regularFont"><a (click)="goToRegister()" class="underligned">inscrivez-vous ici</a></ion-nav-link>
  </div>
</ion-content>
